
*.xml
*.iml
*.txt
*.txt
dev/bot.py
dev/bot_light.py
dev/files/test1.py
dev/model_contact.py
dev/test.py
634786462.txt
__pycache__/configure.cpython-310.pyc
634786462.txt
*.txt
__pycache__/models.cpython-310.pyc
634786462.txt
634786462.txt
*.txt
